a:link {
    text-decoration: none;
    color: #222;
    margin: 0;
    padding: 0;
}

a:visited{
text-decoration: none;
color: #222
}

html, body, .col1, .col2 {
  height: 100%;
  vertical-align: top;
}

body {
  margin: 0;
}

.col1{
  width: 20%;
}

.col2{
  width: 80%;
}

.col1 {
  background-color: #FFED66;
  position: fixed;
  left: 0;
  top: 0;
}

.col2 {
  background-color: #B48EAE;
  margin-left: 20%;
  overflow: auto;
}

#meow {
  margin-top: 20px;
}

#woof {
  margin-left: 2vw;
  font-weight: 500;
}

h1 {
  margin-left: 2vw;
  margin-top: 15px;
  font-weight: 700;
  width: 20vw;
}
