a:link {
    text-decoration: none;
    color: #222;
    margin: 0;
    padding: 0;
}

a:visited{
text-decoration: none;
color: #222
}

html, body, .col1, .col2 {
  height: 100%;
  vertical-align: top;
}

body {
  margin: 0;
}

.col1{
  width: 20%;
}

.col2{
  width: 80%;
}

.col1 {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
}

.col2 {
  background-color: #eee;
  margin-left: 20%;
  overflow: auto;
}

#meow {
  margin-top: 20px;
}

#woof {
  margin-left: 2vw;
  font-weight: 500;
}

h1 {
  margin-left: 2vw;
  margin-top: 15px;
  font-weight: 700;
  width: 20vw;
}


#moo{
  height: 70vh;
  width: auto;
  margin-left: 2vw;
  padding-top: 1vw;

}
.wow {
  padding-top: 20px;
  font-weight:700;
}

.pow{
  padding-top: 0px;
  margin-top:0
}

#bio {
  font-size: 0.9em;
  margin-left: 20px;
  margin-top: 20px;
}

#xcsite {
  margin-left:20px;
  background-color: #B48EAE;
  color: #222;
  width: 220px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 75px;
  align-items: center;
  margin-top: -100vh;
  padding: 1vw 3vw 1vw 1vw;
  }

.grid img {
  border: 1px solid #ccc;
  max-width: 100%;
}
